<h1> Testing  2</h1>

<div>
<h3>Import File</h3>
  <%= form_tag import_orders_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>
<br>

<table>
         <thead>
             <tr>
                <th>Order Id</th>
                 <th>User Id</th>
                 <th>Total</th>
                 <th>Created At</th>
             </tr>
         <tbody>
             <% @orders.each do |order| %>
 				<tr>
 					<td>
 						<%=order.id%>
 					</td>
 					<td>

 					</td>
 					<td>
 						<%=order.price%>
 					</td>
 					<td>
 						<%=time_ago_in_words(order.created_at)%>
 					</td>
 				</tr>
             <% end %>
         </tbody>
     </table>
