<h1>Desafio - Rails</h1>

<div>
<%= render 'upload' %>
</div>

<table border = 1>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Owner</th>
            <th>Filename</th>
            <th>Total</th>
            <th>Created</th>
        </tr>
    <tbody>
        <% @orders.each do |order| %>
 			<tr>
 				<td>
 					<%= order.id %>
 				</td>
 				<td>
                    <%=order.user.email%>
                </td>
                <td>
                    <%=order.filename%>
 				</td>
                
 				<td>
 					<%=number_to_currency(order.price, delimiter:"", separator:",")%>
 				</td>
 				<td>
 					<%=time_ago_in_words(order.created_at)%>
 				</td>
                <td>
                    <%= link_to 'View', order %>
                </td>
 				<% if current_user == order.user %>
                    <td>
 				       <%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %>
 				   </td>
                <% end %>
		    </tr>
        <% end %>
    </tbody>
</table>
