<h1>Desafio - Rails</h1>

<div>
    
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <br>
      <% end %>
    
</div>


<div>
<%= render 'upload' %>

<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Filename</th>
            <th>Total</th>
        <th>Created At</th>
    </tr>
    <tbody>
        <% @orders.each do |order| %>
 			<tr>
 				<td>
 					<%=link_to order.id, order%>
 				</td>
 				<td>
                    <%=order.filename%>
 				</td>
 				<td>
 					<%=order.price%>
 				</td>
 				<td>
 					<%=time_ago_in_words(order.created_at)%>
 				</td>
 				<td>
 				    <%= link_to 'Destroy', @order, method: :destroy, data: { confirm: 'Are you sure?' } %>
 				</td>
 		    </tr>
         <% end %>
     </tbody>
 </table>
